{{!-- <h1>Shortened URL</h1>
<p>Your shortened URL is:</p>
<a href="{{ shortUrl }}" target="_blank">{{ shortUrl }}</a> --}}

<div class="card">
  <div class="card-header">
    Succeeded!
  </div>
  <div class="card-body">
    <h5 class="card-title">Your shortened URL is:</h5>
    <a href="{{ shortUrl }}" target="_blank">{{ shortUrl }}</a>
  </div>
</div>
